body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Anton', sans-serif;
  padding-top: 70px;
  background-color: #FF8F00;
  color: black; }

#inicio {
  border: solid 3px;
  margin: auto;
  padding: 60px;
  background-color: #FF8F00;
  border: 2px #menu;
    border-border: solid 2px;
    border-background-color: transparent;
    border-font-family: 'Anton', sans-serif; }
  #inicio #logo {
    transition: .4s all; }
    #inicio #logo:hover {
      transform: rotate(360deg); }
  #inicio #portada:hover {
    transform: scale(1.1);
    transition: all 0.5s ease; }
  #inicio h1 {
    text-shadow: 4px -1px  #0a0a0a;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #186c19;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    margin-top: 50px; }
  #inicio #boton {
    box-shadow: 0 5px 6px black;
    height: 35px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold; }
    #inicio #boton:hover {
      box-shadow: 1px 5px 2px 0 #0a0a0a;
      transform: scale(1.1); }
  #inicio .insta {
    width: 15px;
    height: 15px; }
  #inicio a {
    text-decoration: none;
    color: black; }
    #inicio a:hover {
      color: black;
      text-decoration: none; }

#queeshappiness {
  border: solid 3px;
  margin: auto;
  padding: 100px;
  background-color: #186c19; }
  #queeshappiness .parrafo1 {
    white-space: pre-line;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 10px; }
  #queeshappiness .carousel-inner {
    box-shadow: 0 12px 14px black; }
  #queeshappiness .parrafo2 {
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    white-space: pre-line; }
  #queeshappiness .borde {
    text-align: right;
    margin-right: 70px;
    text-shadow: 4px -1px  #0a0a0a;
    font-size: 20px;
    color: #FF8F00;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; }
    #queeshappiness .borde button {
      border-radius: 10px;
      margin-right: 70px;
      margin-bottom: 30px;
      border: solid	orange;
      background-color: #FF8F00;
      font-weight: bold;
      color: #186c19;
      box-shadow: 0 5px 6px black;
      letter-spacing: 1px; }
      #queeshappiness .borde button:hover {
        color: black;
        box-shadow: 1px 5px 2px 0 #0a0a0a;
        transform: scale(1.1); }

#lasactrices {
  border: solid 3px;
  margin: auto;
  padding: 100px;
  background-color: #FF8F00; }
  #lasactrices .card {
    background-color: #1b1c19;
    box-shadow: 0 7px 8px 0 black;
    padding: 40px; }
    #lasactrices .card p {
      padding: 15px;
      color: #FF8F00; }

#criticas {
  border: solid 3px;
  background-color: #FF8F00;
  margin: auto;
  padding: 50px; }
  #criticas h1 {
    padding: 60px;
    text-shadow: 4px -1px  #0a0a0a;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #186c19;
    font-size: 33px;
    font-weight: bold;
    text-align: center; }
  #criticas .img-fluid:hover {
    transform: scale(1.1);
    transition: all 0.5s ease; }
  #criticas .carousel-inner {
    box-shadow: 0 12px 14px black; }

#contacto {
  margin: auto;
  padding: 42px;
  background-color: #FF8F00; }

.informa {
  width: 400px;
  height: 300px;
  background-image: url("../img/informa.png");
  white-space: pre-line;
  font-family: verdana;
  font-size: 15px;
  font-weight: bold;
  color: #1C2A0D;
  list-style: none;
  border-radius: 20px; }

@media (max-width: 1024px) {
  #inicio h1 {
    text-shadow: 4px -1px  #0a0a0a;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px; }
  #inicio #boton {
    box-shadow: 0 5px 6px black;
    height: 35px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold; }
    #inicio #boton:hover {
      box-shadow: 1px 5px 2px 0 #0a0a0a;
      transform: scale(1.1); }
  #inicio .insta {
    width: 15px;
    height: 15px; }
  #inicio a {
    text-decoration: none;
    color: black; }
    #inicio a:hover {
      color: black;
      text-decoration: none; } }
